
  
  html,
  body {
    font-size: 14pt;
  }
  
  body {
    background: black;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    /* background-image: url("https://images4.alphacoders.com/973/thumb-1920-973967.jpg"); */
  
    background-position: center;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 5px;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
    line-height: 2;
  }
  
  .character-image {
    /* border: 1px solid #222; */
    border-radius: 8px;
    padding: 5px;
    width: 250px;
    margin: 3px;
  }
  
  .container {
    position:relative;
    text-align: center;
    color: white;
  }

  footer {
    background-color:darkblue;
    padding: 25px;
    height: 80px;
  }
  .footer-text {
    color:white;
  }
  
  #search {
    background-color: purple;
    color: white;
  }
  
  .item-name{
      color: blueviolet;
      text-decoration:underline;
  }
  
  
  body > footer {
    position: sticky;
    top: 100vh;
  }
  .btn{
    margin-right: 10px;
    color: white !important;
  }