<div class="container">

<main>

  <div class="jumbotron">
  <div class="container text-center">
    <h1>{{title}}</h1>    
    <h2>オタクハブ</h2>  
    <p class="page-description">Hello and welcome to Anime Club! This website provides you with information about the Anime shows and proves as a guide to new anime watchers. Now what are you waiting for? go ahead 
    and explore the vast anime universe and become one with the Anime</p>
  </div>
</div>
  
  <div class="row">
    {{#if character}}
    <div class="col">
      {{#each character}}
      
                <a class="anime-item" href="/anime/{{this.id}}"><img class="character-image" 
                src= "{{this.attributes.posterImage.small}}" alt="{{this.attributes.canonicalTitle}}"></a>
     {{/each}}
    </div>
    {{/if}}
  </div>
  </div>
</main>

