<div class="alert alert-primary col-4 offset-4" role="alert">
  <h4 class="alert-heading">Logged Out!</h4>
  <p class="mb-0">User has been logged out.</p>
</div>

<a href="login" class="login-link">Back to login</a>