  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p class="welcome">Enter the details to signup</p>
        <br />
        {{#if error}}

        <div class="alert alert-danger col-4 offset-4" role="alert">
          <h4 class="alert-heading">Error!</h4>
          <p>{{error}}</p>
        </div>
        {{/if}}

        <form id="signup-form" method="post" action="/users/signup" onsubmit="return validateSignupInputs(event);" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">
            <p class="noPost">Username:</p>
            </label>
            <input type="text" class="form-control" id="username" name="username"
              placeholder="Create a username of atleast length 5 and max 25 characters" />
            <br />
            <label for="email">
            <p class="noPost">Email:</p>
            </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter a valid  address" />
            <br />
            <label for="age">
            <p class="noPost" >Age:</p>
            </label>
            <input type="number" class="form-control" id="age" name="age" placeholder="Enter your Age" />
            <br />
            <label for="password">
            <p class="noPost" >Password:</p>
            </label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Create your password of atleast 6 characters" />
            <br />
            <label for="confirm-password">
            <p class="noPost" >Confirm Password:</p>
            </label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password"
              placeholder="Confirm your password" />
            <br />
            <label for="picture">
            <p class="noPost" >Upload a display picture for your profile if you want:</p>
            </label>
            <input type="file" class="form-control" id="picture" name="picture" accept=".jpg,.gif,.png,.jpeg" />
            <br />
            <div class="form-group">
              <input type="submit" class="btn AllButton btn-outline-success" value="Sign Up" />
            </div>
            {{#unless status}}
            <p class="wrongMsg">{{message}}</p>
            {{/unless}}
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />